<!-- -*- mode: XML -*- -->
<launch>
  <node ns="vehicle" pkg="dbw_coolhigh_can" type="dbw_node" name="dbw" output="screen">
    <param name="dbw_dbc_file" textfile="$(find dbw_coolhigh_can)/ch_agv-1.3.62.dbc" />
    <remap from="can_tx" to="/can_rx" />
    <remap from="can_rx" to="/can_tx" />
  </node>
<!--
  <arg name="can_hardware_id" default="11275" />
  <arg name="can_circuit_id" default="0" />
  <arg name="can_bit_rate" default="500000" />

  <node ns="can0" pkg="kvaser_interface" type="kvaser_can_bridge" name="kvaser_can_bridge">
    <param name="can_hardware_id" value="$(arg can_hardware_id)" />
    <param name="can_circuit_id" value="$(arg can_circuit_id)" />
    <param name="can_bit_rate" value="$(arg can_bit_rate)" />
  </node>
-->
</launch>
